Brotli==1.1.0
Cython==3.0.10
Deprecated==1.2.14
GitPython==3.1.43
Jinja2==3.1.3
Markdown==3.6
MarkupSafe==2.1.5
PubChemPy==1.0.4
PySocks==1.7.1
PyYAML==6.0.1
Pygments==2.18.0
SQLAlchemy==2.0.30
SmilesPE==0.0.3
Werkzeug==3.0.3
absl-py==2.1.0
accelerate==0.30.0
aiohttp==3.9.5
aiosignal==1.3.1
altair==5.3.0
annotated-types==0.6.0
antlr4-python3-runtime==4.8
anyio==4.3.0
async-timeout==4.0.3
attrs==23.2.0
axial_positional_embedding==0.2.1
backoff==2.2.1
beautifulsoup4==4.12.3
bertviz==1.4.0
bitarray==2.9.2
blinker==1.8.2
boto3==1.34.101
botocore==1.34.101
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.2.1
cryptography==42.0.7
cycler==0.12.1
dataclasses-json==0.6.6
datasets==2.19.1
deepchem==2.8.1.dev20240507151145
deepdiff==7.0.1
dill==0.3.8
docker-pycreds==0.4.0
effdet==0.4.1
einops==0.8.0
emoji==2.11.1
exceptiongroup==1.2.1
fairseq==0.12.2
faiss-gpu==1.7.2
fastprogress==1.0.3
filelock==3.14.0
filetype==1.2.0
flatbuffers==24.3.25
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2024.3.1
gensim==4.3.2
gitdb==4.0.11
gmpy2==2.1.5
google-api-core==2.19.0
google-auth==2.29.0
google-cloud-vision==3.7.2
googleapis-common-protos==1.63.0
googledrivedownloader==0.4
greenlet==3.0.3
grpcio-status==1.62.2
grpcio==1.63.0
huggingface-hub==0.23.0
humanfriendly==10.0
hydra-core==1.0.7
idna==3.7
iopath==0.1.10
isodate==0.6.1
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jsonschema-specifications==2023.12.1
jsonschema==4.22.0
kiwisolver==1.4.5
langchain-community==0.0.20
langchain-core==0.1.23
langchain-text-splitters==0.0.1
langchain==0.1.5
langdetect==1.0.9
langsmith==0.0.87
layoutparser==0.3.4
lightning-utilities==0.11.2
lightning==2.2.4
littleutils==0.2.2
lmdb==1.4.1
local-attention==1.9.1
lxml==5.2.1
markdown-it-py==3.0.0
marshmallow==3.21.2
matplotlib==3.8.4
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
networkx==2.7
nltk==3.8.1
numpy==1.26.4
ogb==1.3.2
omegaconf==2.0.6
onnx==1.16.0
onnxruntime==1.15.1
opencv-python==4.9.0.80
ordered-set==4.1.0
orjson==3.10.3
outdated==0.2.2
packaging==23.2
pandas==2.2.2
pbr==6.0.0
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.0
performer-pytorch==1.1.4
pikepdf==8.15.1
pillow==10.3.0
pillow_heif==0.16.0
pip==24.0
platformdirs==4.2.1
portalocker==2.8.2
pretty-errors==1.2.25
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.8
pyarrow-hotfix==0.6
pyarrow==16.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycocotools==2.0.7
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
pydeck==0.9.0
pyparsing==3.1.2
pypdf==4.2.0
pypdfium2==4.30.0
pysmiles==1.1.2
pytesseract==0.3.10
python-dateutil==2.9.0.post0
python-iso639==2024.4.27
python-louvain==0.16
python-magic==0.4.27
python-multipart==0.0.9
pytorch-lightning==2.2.4
pytz==2024.1
rapidfuzz==3.9.0
rdflib==7.0.0
rdkit-pypi==2021.9.3
rdkit==2023.9.6
referencing==0.35.1
regex==2024.4.28
requests==2.31.0
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
s3transfer==0.10.1
sacrebleu==2.4.2
safetensors==0.4.3
scikit-learn==1.4.2
scipy==1.13.0
sentence-transformers==2.7.0
sentencepiece==0.2.0
sentry-sdk==2.1.1
seqeval==1.2.2
setproctitle==1.3.3
setuptools==69.5.1
simpletransformers==0.70.0
six==1.16.0
smart-open==7.0.4
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
streamlit==1.34.0
sympy==1.12
tabulate==0.9.0
tenacity==8.3.0
tensorboard-data-server==0.7.2
tensorboard==2.16.2
tensorboardX==2.4.1
threadpoolctl==3.5.0
tiktoken==0.6.0
timm==0.9.16
tokenizers==0.19.1
toml==0.10.2
toolz==0.12.1
torch==2.3.0
torch_geometric==1.7.2
torchaudio==2.3.0
torchmetrics==1.4.0
torchvision==0.18.0
tornado==6.4
tqdm==4.66.4
transformers==4.40.2
triton==2.3.0
typing-inspect==0.9.0
typing_extensions==4.11.0
tzdata==2024.1
unstructured-client==0.22.0
unstructured-inference==0.7.23
unstructured.pytesseract==0.3.12
unstructured==0.12.3
urllib3==2.2.1
wandb==0.17.0
watchdog==4.0.0
wheel==0.43.0
wrapt==1.16.0
xxhash==3.4.1
yarl==1.9.4